.project-jfx-button-flat {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: FLAT;
    -fx-background-color: -fx-color-accent;
    -fx-pref-width: 150;
    -fx-text-fill: -fx-color-text-on-plat;
}

.project-jfx-button-flat-transparent {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: FLAT;
    -fx-background-color: transparent;
    -fx-pref-width: 150;
    -fx-text-fill: -fx-color-primary-text;
}